<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Museum</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <nav>
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/login">Login</a>
    <a href="/">Logout</a>
  </nav>
  <section>
    <section class="card-new header">The Tech Blog</h1>
  </section>
  <main>
    <section class="blogs">
      {{{body}}}
    </section>
  </main>
</body>

</html>
