<!-- Only if the user is logged in, render the painting content -->
{{#if loggedIn}}
  {{#each blogPosts as |blogPost|}}
    {{> blog-post-details}}
    
    
    
    {{!-- Left off here --}}
    <a href="/addcomment">Add a comment</a>
    
    {{#each ???? as |????|}}
      {{> comment-details}}
    {{/each}}




  {{/each}}
{{else}}
  <!-- Otherwise, provide a link to login -->
  <a href="/login">Please login to see the paintings</a>
{{/if}}
