{{!-- {{#each galleries as |gallery|}} --}}
{{!-- {{> gallery-details}} --}}
{{!-- {{/each}} --}}

{{#if loggedIn}}
  <p>Welcome {{user.username}}</p>

{{/if}}

{{#each galleries as |gallery|}}
{{> gallery-details}}
{{/each}}